[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "~=3.2.0"
python-dotenv = "~=1.0.0"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
